<div class="row">
    <div class="horizontal-scroll">
        <div class="panel profile-panel animated fadeIn">
            <div class="panel-heading panel-background">
                <div class="">
                    <h3 class="panel-title">We're Here to Help You!</h3>
                </div>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTab">
                    <uib-tab index="0" heading="Normal">
                        <div class="panel-body">
                            <div class="h4" style="text-align: center;">Create a normal campaign</div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 1:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                        Select campaign type(Normal).</span>
                                    </div>
                                    <img src="img/helper/selectNormal.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 2:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                        Fill up the basic campagin details.</span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>choose mode ( Open campaign or Fixed customers)</li>
                                        <ol>
                                            <li>
                                                If you wants to create open campaign for all customers you have to
                                                select
                                                mode as
                                                open customer.
                                            </li>
                                            <li>
                                                If you wants to create campaign for specific customers you have to
                                                select
                                                mode as
                                                fixed customer and upload a mobile csv file.
                                            </li>
                                        </ol>
                                        <li>In sms template you have to add %cpn% as place holder for the coupon.</li>
                                        <li>Select City.</li>
                                        <ol>
                                            <li>If you want to select all cities then check all cities else uncheck it
                                                and
                                                add
                                                particular cities from dropdown.
                                            </li>
                                            <li>Otherwise All city selected.</li>
                                        </ol>
                                        <li>Select Branch.</li>
                                        <ol>
                                            <li>If you want to select all branches then check all branches else uncheck
                                                it
                                                and add
                                                particular branches from dropdown.
                                            </li>
                                            <li>Otherwise All branches selected.</li>
                                        </ol>
                                        <li>click on next button.</li>
                                    </ul>
                                    <img src="img/helper/basicNormalDel.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 3:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                        fill the configration detail for a campaign.</span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>Enter the pax and voucher code inside the header settings.</li>
                                        <li>click on next button.</li>
                                    </ul>
                                    <img src="img/helper/Header.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 4:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                        see your campagin details.</span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>check your campaign details if details are correct then click on submit to
                                            finish
                                            else click on previous to edit.
                                        </li>
                                    </ul>
                                    <img src="img/helper/normalCampaignSummary.png" width="640px"
                                         style="margin-left: 55px;">
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Survey">
                        <div class="panel-body">
                            <div class="h4" style="text-align: center;">Create a survey campaign</div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 1:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                            Select campaign type(Survey).
                            </span>
                                    </div>
                                    <img src="img/helper/selectSurvey.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 2:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                            Fill up the basic campagin details.
                             </span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>choose mode ( Open campaign or Fixed customers)</li>
                                        <ol>
                                            <li>
                                                If you wants to create open campaign for all customers you have to
                                                select
                                                mode as
                                                open customer.
                                            </li>
                                            <li>
                                                If you wants to create campaign for specific customers you have to
                                                select
                                                mode as
                                                fixed customer and upload a mobile csv file.
                                            </li>
                                        </ol>
                                        <li>In sms template you have to add %cpn% as place holder for the coupon.</li>
                                        <li>Select City.</li>
                                        <ol>
                                            <li>If you want to select all cities then check all cities else uncheck it
                                                and
                                                add
                                                particular cities from dropdown.
                                            </li>
                                            <li>Otherwise All city selected.</li>
                                        </ol>
                                        <li>Select Branch.</li>
                                        <ol>
                                            <li>If you want to select all branches then check all branches else uncheck
                                                it
                                                and add
                                                particular branches from dropdown.
                                            </li>
                                            <li>Otherwise All branches selected.</li>
                                        </ol>
                                        <li>click on next button.</li>
                                    </ul>
                                    <img src="img/helper/basicDetails.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 3:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
            Fill up the Questionnaire details.
                </span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>select question type.(single select , multi select ,open text and fill text)
                                        </li>
                                        <ol>
                                            <li>If you wants to create the single or multi select question then you have
                                                to
                                                add
                                                answers for that question.
                                            </li>
                                            <li> If you wants to create the open text question select type as open text.
                                            </li>
                                            <li>If you wants to create fill in blank question you have to select type
                                                fill
                                                in blank
                                                and add %_% as place holder for answer.
                                            </li>
                                        </ol>
                                        <li>click on next button.</li>
                                    </ul>
                                    <img src="img/helper/survey-Questionnaire.png" width="640px"
                                         style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 4:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                    fill the configration detail for a campaign.</span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>Enter the pax and voucher code inside the header settings.</li>
                                        <li>click on next button.</li>
                                    </ul>

                                    <img src="img/helper/Header.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="h5" style="margin-left: 10px;font-size: 15px;">
                                        Step 5:
                                        <span class="title"
                                              style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
                    see your campagin details.</span>
                                    </div>
                                    <ul style="margin-left: 40px;font-size: 13px;">
                                        <li>check your campaign details if details are correct then click on submit to
                                            finish
                                            else click on previous to edit.
                                        </li>
                                    </ul>
                                    <img src="img/helper/campaign-Summary.png" width="640px" style="margin-left: 55px;">
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>