<main class="auth-main">
    <div class="auth-block animated zoomIn">
        <form class="form-horizontal" ng-submit="login(loginForm.$valid)" name="loginForm" novalidate>
            <div class="form-heading">
                <h2>Sign In</h2>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty, 'has-success': loginForm.username.$valid }">
                <input type="text" class="form-control" placeholder="Username" name="username" ng-model="userLoginInfo.username"
                       required/>
                <p class="help-block" ng-if="loginForm.username.$invalid && loginForm.username.$dirty">Please Enter a valid
                    username</p>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
                <input type="password" class="form-control" placeholder="Password" name="password"
                       ng-model="userLoginInfo.password" ng-minLength="5" required/>
                <p class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">Please Enter at
                    least 5 characters</p>
            </div>
            <button class="btn btn-default pull-right"
                    ng-disabled="loginForm.emails.$invalid || loginForm.password.$invalid">Sign In
            </button>
        </form>
    </div>
</main>