<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="Edit/View User">
              <!--  <button class="btn btn-sm btn-info">Button</button>-->
            </rd-widget-header>
            <rd-widget-body>


            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header title="Change Password">
            </rd-widget-header>
            <rd-widget-body>
               <!-- <rd-loading>

                </rd-loading>-->
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
