<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-question-circle" title="Questionnaire ">
        <a href="#/question/add">Add</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-responsive table-striped" st-table="questionListsData"
                 st-safe-src="questionListsMasterData">
            <thead>
            <tr class="sortable ">
              <th class="table-id" st-sort="id"><b>ID</b></th>
              <th st-sort="questionDesc"><b>QUESTION</b></th>
              <th st-sort="questionType"><b>QUESTION TYPE</b></th>
              <th><b>ACTION</b></th>
            </tr>

            <tr>
              <th></th>
              <th><input st-search="questionDesc" placeholder="Search Question"
                         class="input-sm form-control search-input"
                         type="search"/></th>
              <th><select st-search="questionType" st-input-event="change" data-ng-options="item.id as item.text for item in QuestionTypeOptions track by item.id" st-delay="0" ng-model="dummy" class="input-sm form-control" >
                <option value="">
                  All
                </option>
              </select>
              </th>
              <!--       <th><input st-search="questionType" placeholder="Search Question type"
                                class="input-sm form-control search-input"
                                type="search"/></th>-->
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in questionListsData">
              <td>{{item.id}}</td>
              <td>{{item.questionDesc}}</td>
              <td>{{item.questionType | answerTypeFullForm}}</td>
              <td>
                <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                        ng-click="editQuestionData(item)" data-toggle="tooltip" title=" Edit Question Information"><i
                        class="fa fa-pencil fa-lg"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="4" class="text-center ">
                <div st-pagination="" st-items-by-page="questionPageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
