<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h3>Instructions</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div style="padding-bottom: 10px;">
                <span class="csv-inst">Please follow the below instructions to upload the csv.</span>
            </div>
            <div class="notation">
                <ul>
                    <li>File must be less than 5MB.</li>
                    <li>Allowed file types: .csv</li>
                    <li>Csv file should have only one column as <span class="black-text-inst">mobile</span>.
                        <div style="padding-top: 10px;">
                            <h5 style="color: #e02166;" class="">Sample csv:</h5>
                            <img style="min-width: 60%;/* margin: auto; */width: 200px;" ng-src="img/mobile_snap.png">
                        </div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>
</html>