<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title">Placeholder options</h4>
    </div>
    <div class="modal-body" style="margin-bottom: 30px;">
        <div class="col-sm-12">
            <div>
            <span class="placeholder-camp">Please use this placeholders to show below parameters value.
            </span>
            </div>
            <div class="notation"><strong> %cpn% </strong> - <span> Coupon Code</span></div>
        </div>
    </div>
    <div class="modal-footer" style="display: contents">
        &nbsp;
    </div>
</div>