ul.sidebar .sidebar-list a:active {
    color: #fff!important;
    border-left: 3px solid #e99d1a!important;
    text-indent: 22px!important;
}
.selectedMenu{
    color: #fff!important;
    border-left: 3px solid #e99d1a!important;
    text-indent: 22px!important;
}
h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}