<!doctype html>
<html lang="en" ng-app="RDash">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BBQ Campaign</title>
    <!-- STYLES -->
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <!-- build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-wizard/dist/angular-wizard.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-xeditable/dist/css/xeditable.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" type="text/css" href="components/amitava82-angular-multiselect/dist/multiselect.css">
    <link rel="stylesheet" type="text/css" href="less/login.css">
    <link rel="stylesheet" type="text/css" href="less/layout.css">
    <link rel="stylesheet" type="text/css" href="less/style.css">

    <!-- endbuild -->
    <!-- SCRIPTS -->
    <!-- build:js lib/js/main.min.js -->
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-select/dist/select.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="components/angular-ui-validate/dist/validate.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="components/angular-toastr/dist/angular-toastr.js"></script>
    <script type="text/javascript" src="components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-wizard/dist/angular-wizard.js"></script>
    <script type="text/javascript" src="components/angular-smart-table/dist/smart-table.js"></script>
    <script type="text/javascript" src="components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script type="text/javascript" src="components/angular-confirm-modal/angular-confirm.min.js"></script>
    <script type="text/javascript" src="components/amitava82-angular-multiselect/dist/multiselect-tpls.js"></script>
    <script type="text/javascript" src="components/file-saver/FileSaver.min.js"></script>
  <!--  <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>-->
    <!-- endbuild -->
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
<div id="page-wrapper" ng-if="globals.currentUser" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    <img ng-src="img/bbq-white.png" width="40px"> <span style="vertical-align: -webkit-baseline-middle;">BBQ</span>
                    <small style="font-size: 13px;vertical-align: top;">OFFER</small>
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a ui-sref-active="selected-menu" href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref-active="selected-menu" href="#/campaign/add">Create Campaign <span class="menu-icon fa fa-plus"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref-active="selected-menu" href="#/campaign">Campaign List <span class="menu-icon fa fa-tasks"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
           <!-- <div class="col-xs-6">
                <a href="https://carufus.com/" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-6">
                <a href="https://carufus.com/#block261" target="_blank">
                    Support
                </a>
            </div>-->
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="img/avatar2.svg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                   Administrator
                                </li>
                              <!--  <li class="divider"></li>
                                <li class="link">
                                    <a href="#/profile/1">
                                        Profile
                                    </a>
                                </li>-->
                                <li class="divider"></li>
                                <li class="link">
                                    <a style="cursor: pointer" ng-click="logout()"><span class="menu-icon fa fa-md fa-sign-out"></span> Logout</a>
                                </li>
                            </ul>
                        </div>
                       <!-- <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="meta">
                        <div class="page">
                            {{activePageTitle}}
                        </div>
                        <div class="breadcrumb-links">
                            Home / {{activePageSubTitle}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->
            <div ui-view></div>
        </div>
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper --><!-- End Page Wrapper -->
<span ng-if="!globals.currentUser" ui-view="auth"></span>
</body>
</html>
